module zabbix_agent_libvirt 1.0;

require {
        type virtd_t;
        type zabbix_agent_t;
        class unix_stream_socket connectto;
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t self:unix_stream_socket connectto;

